<section class="login appear">

	<div class="login-main-box" *ngIf="!successMsg">

		<div class="login-heading">
			<img src="../../assets/logo.svg" class="login-logo" alt="">

			
			<p>Please enter your email address.</p>

		</div>

		<div class="login-form-box">
			<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<input type="text" class="form-ctrl" placeholder="Email address..."
							formControlName="email">	
				</div>

				<div class="form-group">
						<button type="submit" class="btn btn-secondary" >Reset password</button>
				</div>

			</form>

		</div>

  </div>
  
  <div class="login-main-box appear" *ngIf="successMsg">
    Thank you, please check your email address. There you can find a link for password reseting process.
  </div>


</section>