backend/MegaTravelAgent/logs
backend/accommodation-service/logs
backend/reservation-service/logs
backend/auth-service/logs
backend/discovery-service/logs
backend/api-gateway/logs
backend/rating-service/logs
backend/rating-service/node_modules

