<div class="btn-back"> <a [routerLink]="" class="back" (click)="hideMessages()"> <span><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</span> </a>  </div>

<section class="right-to-nav appear" style="margin-top: 20px; margin-right: 20px;">

	<div  #messagesContainer class="messages-container">

		<div class="message-box" *ngFor="let m of messages" [ngClass]="{'self-message' : m.self, 'guest-message' : !m.self}">
			
			<div class="message-content" [ngClass]="{'self-message-content' : m.self, 'guest-message-content' : !m.self}">
				{{ m.content }}
			</div>
			<div class="message-info">
				sent by {{ m.sender }} on {{ m.date }}
			</div>

		</div>

	</div>
	<div class="new-message-container">
		<textarea class="form-ctrl" rows="4"></textarea>
		<button class="btn btn-secondary">send</button>
	</div>

</section>