<div class="btn-back"> <a [routerLink]="" class="back" (click)="hideMessages()"> <span><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</span> </a>  </div>

<section class="right-to-nav appear" style="margin-top: 20px; margin-right: 20px;">

	<div  #messagesContainer class="messages-container">

		<div class="message-box" *ngFor="let m of messages" [ngClass]="{'self-message' : m.isUsersMessage, 'guest-message' : m.isAgentsMessage}">
			
			<div class="message-content" [ngClass]="{'self-message-content' : m.isUsersMessage, 'guest-message-content' : m.isAgentsMessage}">
				{{ m.content }}
			</div>
			<div class="message-info">
				sent by {{ m.isAgentsMessage ? agentUsername : userUsername }} on {{ m.date | date:'medium' }}
			</div>

		</div>

	</div>
	<form [formGroup]="messageForm" (ngSubmit)="onSubmitMessage()">
		<div class="new-message-container">
				<textarea class="form-ctrl" rows="3" formControlName="message"></textarea>
				<button type="submit" class="btn btn-secondary" [disabled]="!messageForm.valid">send</button>
			</div>
		</form>

</section>