<div *ngIf="!ssCertificate">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9">
        <h3>
          Self signed certificate does not exist.
        </h3>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-9">
        <h4>
          Please specify certificate information and generate self signed
          certificate.
        </h4>
      </div>
    </div>

    <form [formGroup]="ssForm" (ngSubmit)="onSubmitSS()">
      <div class="row mt-5 justify-content-center">
        <div class="col-5 mr-4">
          <h5 class="mb-4">Subject information</h5>
          <hr />
          <div class="form-group">
            <label for="alias">Common name:</label>
            <input type="text" class="form-control" formControlName="cn" />
          </div>

          <div class="form-group">
            <label for="alias">Organization:</label>
            <input type="text" class="form-control" formControlName="o" />
          </div>

          <div class="form-group">
            <label for="alias">Organization Unit:</label>
            <input type="text" class="form-control" formControlName="ou" />
          </div>

          <div class="form-group">
            <label for="alias">Country code:</label>
            <input type="text" class="form-control" formControlName="c" />
          </div>

          <div class="form-group">
            <label for="alias">Email: </label>
            <input type="text" class="form-control" formControlName="e" />
          </div>
        </div>
        <div class="col-4">
          <h5 class="mb-4">Certificate information</h5>
          <hr />
          <div class="form-group">
            <label for="alias">Certificate alias:</label>
            <input type="text" class="form-control" formControlName="alias" />
          </div>

          <div class="form-group">
            <label for="startDate">Valid from</label>
            <input
              type="date"
              class="form-control"
              formControlName="startDate"
            />
          </div>

          <div class="form-group">
            <label for="endDate">Valid to</label>
            <input type="date" class="form-control" formControlName="endDate" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info" [disabled]="!ssForm.valid">
              Generate Self Signed Certificate
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
