h1 {
    color: var(--rosa);
    line-height: 1;
    font-size: 2.7rem;
}

h3 {
    font-weight: 400;
}

.au-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.au-heading-info {
    flex: 1 0 60%;
}

.au-heading-info > *:not(:last-child) {
    margin-bottom: 30px;
}

.au-heading-img {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
}

.au-heading-img img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.au-info-bar {
    display: flex;
    justify-content: flex-start;
}

.au-info-bar > *:not(:last-child) {
    margin-right: 30px;
}

.au-info-bar .fa {  
    color: var(--rosa);
}

.au-info-bar .fa:not(:last-child) {
    margin-right: 2px;
}

.au-info-bar .type {
    background: var(--rosa);
    color: white;
    padding: 7px 9px 4px 9px;
    line-height: 1;
    font-size: 19px;
}

.au-info-bar .guests {
    color: var(--rosa);
    font-size: 19px;
}

.au-info-bar .category {
    
}

.rating-location {
    display: flex;
    justify-content: flex-start;
}

.rating-location .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background : green;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.rating-location .location {
    display: flex;

}

.rating-location .location .fa {
    font-size: 21px;
    margin-right: 10px;
}

.rating-location .location .location-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.location-info .address {
    font-size: 21px;
}

.au-amenities {
    margin-top: 50px;
}

.au-description {
    margin-top: 100px;
    font-size: 19px;
    font-style: italic;
    font-weight: 300;
}

.au-cancellation-period {
    font-weight: 300;
    font-size: 30px;
    margin-top: 60px;
}

.au-price {
    font-weight: 300;
    font-size: 34px;
    margin-top: 15px;
}

.au-price-value {
    font-weight: 600;
    color: green;
}

