h1 {
    color: var(--rosa);
    line-height: 1;
    font-size: 2.7rem;
}

h3 {
    font-weight: 400;
    color: var(--rosa);
}

.au-content {
    padding: 50px;
    background: white;
}

.au-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}


.au-heading-info {
    flex: 1 1 60%;
}

.au-heading-info > *:not(:last-child) {
    margin-bottom: 30px;
}

.au-heading-img {
    box-sizing: border-box;
    flex: 0 0 380px;
    height: 280px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-bottom: 5px solid var(--rosa);
}

.au-heading-img img {
    height: 100%;
    object-fit: cover;
    transform: scale(1.10);
    transition: transform 0.4s ease-in;

}

.au-heading-img img:hover {
    transform: scale(1);
    transition: transform 0.2s ease-in;
}


.au-info-bar {
    display: flex;
    justify-content: flex-start;
}

.au-info-bar > *:not(:last-child) {
    margin-right: 30px;
}

.au-info-bar .fa {  
    color: var(--rosa);
}

.au-info-bar .fa:not(:last-child) {
    margin-right: 2px;
}

.au-info-bar .type {
    background: var(--rosa);
    color: white;
    padding: 7px 9px 4px 9px;
    line-height: 1;
    font-size: 19px;
}

.au-info-bar .guests {
    color: var(--rosa);
    font-size: 19px;
}

.au-info-bar .category {
    
}

.rating-location {
    display: flex;
    justify-content: flex-start;
}

.rating-location .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background : green;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.rating-location .location {
    display: flex;

}

.rating-location .location .fa {
    font-size: 21px;
    margin-right: 10px;
}

.rating-location .location .location-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.location-info .address {
    font-size: 21px;
}

.au-amenities {
    margin-top: 50px;
}

.au-description {
    margin-top: 70px;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}

.au-cancellation-period {
    font-weight: 300;
    font-size: 30px;
    margin-top: 60px;
}

.au-price {
    font-weight: 300;
    font-size: 34px;
    margin-top: 30px;
}

.au-price-value {
    font-weight: 600;
    color: green;
}

.au-amenities-list {
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 17px;
    font-weight: 200;
    
}

.au-amenity i {
    font-size: 17px;
    margin-right: 10px;
}

.au-amenity-name {
    font-size: 20px;
}

.see {
    font-size: 18px;
    font-weight: 700;
    color: var(--rosa);
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s;
}

.see:hover {
    text-decoration: underline;
    color: black;
    transform: translateX(5px);
    transition: all 0.5s;

}


.au-sp-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;

}

table {
    width: 100%;
    font-size: 20px;
}

th {
    border-bottom: 3px solid var(--rosa);
    
}



td, th {
    padding: 15px;
}

.sp-price {
    text-align: right;
}

td.sp-price {
    color: green;
    font-weight: 600;
    
    font-size: 22px;
}