<!-- ovde ubaciti search posle nav-a i pre daljeg sadrzaja stranice -->
<section style="margin-top:2%; margin-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Hotel Moskva</h2>
        <p><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span></p>
        <h6><i class="fa fa-map-marker"></i> Terazija 20, Belgade, Serbia</h6>
        <h6 style="margin-top:15%">Description:</h6>
        <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem veniam velit vero voluptatibus. Magni, sed odit sequi vitae dolorum ab omnis autem nostrum quaerat quam optio perferendis molestias blanditiis doloribus.</p>
      </div>
      <div class="col-md-8 acc-image"></div>
    </div>

    <div class="row amenities-rating">
      <div class="col-md-7 amenities">
        <h4>Amenities:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta accusamus praesentium iste cumque rem voluptatibus! Architecto facilis atque cupiditate doloribus assumenda veritatis in ex eos, iure, porro modi dolorum rem.
        </p>
      </div>
      <hr>
      <div class="col-md-5">
        <h4>Rating:</h4>
      </div>
    </div>
  </div>
</section>>
