<!-- ovde ubaciti search posle nav-a i pre daljeg sadrzaja stranice -->
<section style="margin-top:2%; margin-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Apartment BBF</h2>
        <p><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span></p>
        <h6><i class="fa fa-map-marker"></i> Miris ljeta 96, Novi Sad, Serbia</h6>
        <h6 class="desc-title">Accommodation type: Hotel</h6>
        <h6>Description:</h6>
        <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem veniam velit vero voluptatibus. Magni, sed odit sequi vitae dolorum ab omnis autem nostrum quaerat quam optio perferendis molestias blanditiis doloribus.</p>
      </div>
      <div class="col-md-8 acc-image"></div>
    </div>

    <div class="sidebar">
      <h4 style="margin-bottom: 30px;">Apartment BBF</h4>
      <div class="priceDate">
        <h5>Price: $220<span class="pernight">/per night</span></h5>
        <p class="guests"><i class="fa fa-user"></i> 2 guests</p>
        <p class="sel-date"><i class="fa fa-calendar-o"></i> 16 Jun 2019 - 20 Jun 2019</p>
      </div>
      <div class="totalprice">
        <h5>Total price: $880</h5>
      </div>
      <div class="book">
        <button class="btn btn-primary book-btn">Book</button>
      </div>
    </div>
    
    <div class="row amenities-rating">
      <div class="amenities">
        <h4>Amenities:</h4>
        <div class="row" [ngClass] = "{'showCont':hideServ === false,  'hideCont':hideServ  === true }">
          <div class="amenity">
            <i class="fa fa-wifi"></i> WiFi
          </div>
          <div class="amenity">
            <i class="fa fa-product-hunt"></i> Parking
          </div>
          <div class="amenity">
            <i class="fa fa-paw"></i> Pet friendly
          </div>
          <div class="amenity">
            <i class="fa fa-cutlery"></i> Breakfast
          </div>
        </div>
        <div class="show-more">
          <button class="btn btn-light mmmore" (click)="onShowMore()">{{ShowText}}</button>
        </div>
      </div>
      <div class="rating">
        <div class="NO-reviews">
          <p class="no-of-revs">49 Reviews</p>
        </div>
        <h4>Rating:</h4>
        <div class="rating-content">
          <div class="rate-div">
            <span class="rate-circle">9.6</span>
          </div>
          <div class="rate-div">
            <p class="rate-text">Excellent</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="comments">
        <h4>Comments:</h4>
  
        <div class="card">
          <div class="container">
            <div class="left-card">
              <h6><b>Vladimir Cvetanovic</b></h6>
              <p class="com-date">05.06.2019.</p>
            </div>
            <div class="right-card">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptas distinctio, nesciunt iusto cupiditate dolore alias repudiandae odit quo, libero odio, non at? Dolorem, itaque unde sint voluptatum nam quidem!</p>
            </div>
          </div>
        </div>
  
        <div class="card">
          <div class="container">
            <div class="left-card">
              <h6><b>John Doe</b></h6>
              <p class="com-date">10.06.2019.</p>
            </div>
            <div class="right-card">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptas distinctio, nesciunt iusto cupiditate dolore alias repudiandae odit quo, libero odio, non at? Dolorem, itaque unde sint voluptatum nam quidem!</p>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="container">
            <div class="left-card">
              <h6><b>Miroslav Zaric</b></h6>
              <p class="com-date">14.06.2019.</p>
            </div>
            <div class="right-card">
              <p>Great!</p>
            </div>
          </div>
        </div>
    </div>
    
    </div>
  </div>
</section>>
