<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrap-1  p-4">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch(f)" #f="ngForm" class="search-property-1">
            <div class="row">
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="#">Destination</label>
                  <div class="form-field">
                    <div class="icon"><span class="ion-ios-search"></span></div>
                    <input type="text" formControlName="destination" class="form-control" placeholder="Search place">
                  </div>
                </div>
              </div>
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="#">Check-in date</label>
                  <div class="form-field">
                    <div class="icon"><span class="ion-ios-calendar"></span></div>
                    <input type="date" formControlName="startDate" class="form-control checkin_date" required placeholder="Check In Date">
                  </div>
                </div>
              </div>
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="#">Check-out date</label>
                  <div class="form-field form_date">
                    <div class="icon"><span class="ion-ios-calendar"></span></div>
                    <input type="date" formControlName="endDate" class="form-control checkout_date" required placeholder="Check Out Date">
                  </div>
                </div>
              </div>
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="guests">Guests</label>
                  <div class="form-field">
                    <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="guests" formControlName="guests" id="guests" class="form-control">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg align-self-end">
                <div class="form-group">
                  <div class="form-field">
                    <input type="submit" value="Search" class="form-control btn btn-primary" [disabled]="!searchForm.valid">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>