<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <span><i class="fa fa-user fa-2x" aria-hidden="true"></i> <span id=login>Login</span>
      <hr>
      </span>
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" [formControl]="username" formControlName="username" required class="form-control" placeholder="Enter username">
        <span class="error" *ngIf="errorInpBool">Username cannot contain characters > < ; and whitespace</span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [formControl]="password" formControlName="password" required class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!loginForm.valid" disabled=true>Submit</button>
    </form>
  </div>
</div>