<div class="container">
  <div class="row" style="text-align: center; margin-top: 100px;">
    <h3>Login</h3>
    <form (ngSubmit)="loginUser(f)"  #f="ngForm">
        <div class="input-group form-group">
          Username: <input type="text" class="form-control" required ngModel id="username" name="username">
        </div><br>
        <div class="input-group form-group">
          Password: <input type="password" class="form-control" required ngModel id="password" name="password">
        </div><br>
        <div class="form-group">
					<input type="submit" value="Login" class="btn float-right login_btn" [disabled]="!f.valid">
				</div>
    </form>

    <br><div class="d-flex justify-content-center links">
      Don't have an account? <a routerLink="/register">Register</a>
    </div>
  </div>
</div>