<div class="container">
  <div class="form-modal" *ngIf="addCertifDialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" (click)="onCloseForm()">
          <span aria-hidden="true">&times;</span>
        </button>
        <app-add-certificate-form
          [softId]="softId"
          (certificateAdd)="certificateAdded($event)"
        ></app-add-certificate-form>
      </div>
    </div>
  </div>

  <div class="form-modal" *ngIf="revokeCertifDialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" (click)="onCloseRevokeForm()">
          <span aria-hidden="true">&times;</span>
        </button>
        <app-revoke-certificate-form
          [softId]="softId"
          (certificateRevoke)="certificateRevoked($event)"
        ></app-revoke-certificate-form>
      </div>
    </div>
  </div>

  <div class="form-modal" *ngIf="trustedSWDialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" (click)="onCloseTrustedSWDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
          <app-trusted-software
            [software]="software"
            [allSoftware]="softveri"
          ></app-trusted-software>
        </div>
      </div>
    </div>
  

  <div *ngIf="selfSigned">
    <div class="row">
      <h2 style="margin-top: 15px; margin-bottom: 15px;">
        Self signed root CA:
      </h2>
    </div>
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Alias</th>
            <th scope="col">Valid from</th>
            <th scope="col">Valid to</th>
            <th scope="col">Check validity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ selfSigned.id }}</th>
            <td>{{ selfSigned.alias }}</td>
            <td>{{ selfSigned.startDate | date: "yyyy-MM-dd" }}</td>
            <td>{{ selfSigned.endDate | date: "yyyy-MM-dd" }}</td>
            <td>
              <button
                class="btn btn-info"
                (click)="verifyCertificate(selfSigned.id)"
              >
                Verify
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h2 style="margin-top: 15px; margin-bottom: 15px;">
      List of all applications:
    </h2>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Application</th>
          <th scope="col">Certificate Alias</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sf of softveri">
          <th scope="row">{{ sf.id }}</th>
          <td>{{ sf.name }}</td>
          <td *ngIf="!sf.certified">
            <button class="btn btn-info" (click)="onCreateCertificate(sf.id)">
              Add certificate
            </button>
          </td>
          <td *ngIf="sf.certified">
            {{sf.certificate.alias}}
          </td>
          <td *ngIf="sf.certified">
            <button class="btn btn-info" (click)="verifyCertificate(sf.id)">
              Verify
            </button>
          </td>
          <td *ngIf="sf.certified"><button class="btn btn-info" (click)="onOpenTrustedSWDialog(sf)">Trusted Software</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2 style="margin-top: 15px; margin-bottom: 15px;">
      List of all the certificates:
    </h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Alias</th>
          <th scope="col">CA?</th>
          <th scope="col">Issued By</th>
          <th scope="col">Valid from</th>
          <th scope="col">Valid to</th>
          <th scope="col">Revoked</th>
          <th scope="col">Reason for revocation</th>
          <th scope="col">#</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of sertifikati">
          <th scope="row">{{ s.id }}</th>
          <td>{{ s.alias }}</td>
          <td>{{ s.ca ? 'Yes' : 'No' }}</td>
          <td>{{ s.idIssuer === s.id ? 'SS' : s.idIssuer }}</td>
          <td>{{ s.startDate | date: "yyyy-MM-dd" }}</td>
          <td>{{ s.endDate | date: "yyyy-MM-dd"}}</td>
          <td *ngIf="s.revoked">Yes</td>
          <td *ngIf="s.revoked">
            {{ s.reasonForRevocation }}
          </td>
          <td *ngIf="!s.revoked">No</td>
          <td *ngIf="!s.revoked">/</td>
          <td *ngIf="!s.revoked">
            <button class="btn btn-danger" (click)="onRevokeCertificate(s.id)">Revoke</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
