<section style="margin-top:2%; margin-bottom: 100px;">
  <div class="container">
    <div class="row">
      <h3 style="margin-bottom: 30px;">Where to stay</h3>
      <div class="right-div">
        <span>Sort by </span>
        <select class="select-sort">
          <option value="">Price</option>
          <option value="">Distance from location</option>
          <option value="">Ratings</option>
          <option value="">Accommodation category</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="tile">
        <div class="card-inside">
            <div class="left-part-card">
                <!-- <img class="image-card" alt="Hotel image" src="{{hotel.hotelImageURL}}" width="300px" height="253px" *ngIf="hotel.hotelImageURL != ''"> -->
                <img class="image-card" alt="Hotel image" src="../../assets/images/image_not_available.png" width="300px" height="253px">
            </div>
            <div class="right-part-card">
              <div class="upper-right">
                <h4 class="hotel-name">Apartment BBF
                  <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                </h4> 
                <h6 class="hotel-address"><i class="fa fa-map-marker"></i> Miris ljeta 96, Novi Sad, Serbia</h6>
                <div class="rating">
                  <span class="rating-round">9.6</span> <span class="no-revs">Based on 49 reviews</span>
                </div>

                <div class="price">
                  <h3>$220</h3>
                </div>
              </div>
              <div class="lower-right">
                <div class="distance">
                  <span>2.4km from city center</span>
                </div>
                <div class="details-btn-card">
                  <a class="btn btn-primary" [routerLink]="['/hotel', hotel.id]" id="details">See details</a>
                </div>
              </div> 
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="tile">
        <div class="card-inside">
            <div class="left-part-card">
                <!-- <img class="image-card" alt="Hotel image" src="{{hotel.hotelImageURL}}" width="300px" height="253px" *ngIf="hotel.hotelImageURL != ''"> -->
                <img class="image-card" alt="Hotel image" src="../../assets/images/image_not_available.png" width="300px" height="253px">
            </div>
            <div class="right-part-card">
              <div class="upper-right">
                <h4 class="hotel-name">Apartment BBF
                  <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                </h4> 
                <h6 class="hotel-address"><i class="fa fa-map-marker"></i> Miris ljeta 96, Novi Sad, Serbia</h6>
                <div class="rating">
                  <span class="rating-round">9.6</span> <span class="no-revs">Based on 49 reviews</span>
                </div>

                <div class="price">
                  <h3>$220</h3>
                </div>
              </div>
              <div class="lower-right">
                <div class="distance">
                  <span>2.4km from city center</span>
                </div>
                <div class="details-btn-card">
                  <a class="btn btn-primary" [routerLink]="['/hotel', hotel.id]" id="details">See details</a>
                </div>
              </div> 
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="tile">
        <div class="card-inside">
            <div class="left-part-card">
                <!-- <img class="image-card" alt="Hotel image" src="{{hotel.hotelImageURL}}" width="300px" height="253px" *ngIf="hotel.hotelImageURL != ''"> -->
                <img class="image-card" alt="Hotel image" src="../../assets/images/image_not_available.png" width="300px" height="253px">
            </div>
            <div class="right-part-card">
              <div class="upper-right">
                <h4 class="hotel-name">Apartment BBF
                  <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                </h4> 
                <h6 class="hotel-address"><i class="fa fa-map-marker"></i> Miris ljeta 96, Novi Sad, Serbia</h6>
                <div class="rating">
                  <span class="rating-round">9.6</span> <span class="no-revs">Based on 49 reviews</span>
                </div>

                <div class="price">
                  <h3>$220</h3>
                </div>
              </div>
              <div class="lower-right">
                <div class="distance">
                  <span>2.4km from city center</span>
                </div>
                <div class="details-btn-card">
                  <a class="btn btn-primary" [routerLink]="['/hotel', hotel.id]" id="details">See details</a>
                </div>
              </div> 
            </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
