<section class="login appear">

	<div class="login-main-box">

		<div class="login-heading">
			<img src="../../assets/logo.svg" class="login-logo" alt="">

			<p>Hi <strong>agent</strong>,</p>
			<p>Please log in to manage your accommodation.</p>

		</div>

		<div class="login-form-box">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<input type="text" class="form-ctrl" placeholder="Your username goes here..."
							formControlName="username">	
				</div>


				<div class="form-group">
					<input type="password" class="form-ctrl" placeholder="Your password goes here..."
							formControlName="password">
				</div>

				<div class="form-group">
						<button type="submit" class="btn btn-secondary" >Log in</button>
				</div>

				<a routerLink="/reset-password">Forgot password?</a>

			</form>

		</div>

	</div>


</section>