<div class="container">
  <div class="row">
    <p>
      homepage works!
    </p>
  </div>
  <div class="row">
    <div *ngIf="isLoggedIn">
      <button type="button" class="btn btn-primary" (click)="logOut()"> Log out </button> 
    </div>
    <div *ngIf="!isLoggedIn">
      <button type="button" class="btn btn-primary" routerLink="/login" style="margin-right: 10px;"> Log in </button>
      <button type="button" class="btn btn-primary" routerLink="/register"> Register </button>
    </div>
  </div>
</div>


