#topbar{
    height: 50px;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
}

#sidebar {
    position:fixed;
    padding-top:20px;
    width: 200px;
    height: 100%;   
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active{
    margin-left: -200px;
}

#sidebar a {
    color: #fff;
}

#sidebar li a {
    position: relative;
    font-size: .9rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 12px;
  }
  
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }

#sidebar li a:focus, #sidebar li a:hover, #sidebar li a[aria-expanded="true"]{
    background: #33b35a;
    color: #fff;
    text-decoration: none;
}

#content{
    margin-left: 130px;
}

#nav{
    width: 100%;
}
#nav li {
    margin-right: 5px;
}

#collapse{
    background: #292929;
}

#collapse li a:focus,#collapse li a:hover, #collapse li a:active, #collapse li a[aria-expanded="true"]{
    color: white !important; 
    background: black !important;
    text-decoration: none;
}


#collapseCodeBook{
    background: #292929;
}

#collapseCodeBook li a:focus,#collapseCodeBook li a:hover, #collapseCodeBook li a:active, #collapseCodeBook li a[aria-expanded="true"]{
    color: white !important; 
    background: black !important;
    text-decoration: none;
}

.link-nav{
    font-size: 20px;
    margin-left: 8px;

}

.link-nav:hover{
    color: #33b35a
}

#name{
    margin-right:6px;
    color:white
}

#menu{
    width: 100px;
    margin-bottom: 15px;
}

#sidebarCollapse{
    width:100px
}

