<div class="container">

    <h2 class="heading"> ADD NEW TYPE </h2>

    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
      <label>
        Name:
      </label>
      <input type="text" formControlName="name">
      <input type="submit" value="ADD" class="btn btn-success" id="addButton">


      <div *ngIf="submitted && typeForm.controls.name.errors" class="error">
        <div *ngIf="typeForm.controls.name.errors.required">The name is requiered.</div>  
      </div>
    
  
    </form>

  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h2 class="heading"> CREATED TYPES </h2>
  <!--Table-->
  <table class="table table-hover table-fixed" id=table>
    <!--Table head-->
    <thead>
      <tr>
        <th>Name</th>
        <th>Remove</th>
      </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
      <tr *ngFor="let type of types">
        <td>{{ type.name }}</td>
        <td><button type="button" class="btn btn-danger" [routerLink]="" (click)="onRemove(type.name)"><span><i class="fa fa-trash" aria-hidden="true"></i></span></button></td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  
  
  
  </div>