<section class="right-to-nav appear" >
  
  <div id="accommodation" *ngIf="accommodationUnits">

    <div class="info-bar">
        <div>
          <span *ngIf="accommodationUnits.length > 0"> You are offering {{accommodationUnits.length}} accommodation units.</span>
          <span *ngIf="accommodationUnits.length === 0">You have are not offering any accommodation unit.</span>
        
        </div>
        <div>
          <button (click)="onAddAccommodationUnit()" type="button" class="btn btn-secondary">Add accommodation unit</button>
        </div>
    </div>


    <div class="accommodation-components appear" *ngIf="accommodationUnits" >
      <div *ngFor="let a of accommodationUnits" >
        
        <app-accommodation-card [accommodationUnit]="a"></app-accommodation-card>
      </div>


    </div>


  </div>


</section>

