<div class="container" style="padding-top:50px">

<div *ngFor="let rating of ratings">
  <div class="card border-dark mb-3 fadeIn" style="max-width: 50rem;">
    <div class="card-header" style="font-size: 25px; font-weight: 600"> {{rating.reservator}} </div>
      <div class="card-body text-dark">
        <h5 class="card-title"> Rating: {{ rating.value }} </h5>
        <p class="card-text"> {{ rating.comment }}</p>
        <i> {{ rating.posting_date | date : 'yyyy-MM-dd' }} </i>
      </div>
      <div class="card-footer border-dark">
          <button type="button" class="btn btn-success" style="float:right" (click)="approveComment(rating.id)"> Approve </button>
      </div>
  </div>
</div>
</div>