<div id="main-navbar" class="appear" *ngIf="isLoggedIn && userInfo">

	<div class="main-navbar-heading">
		<img src="../../assets/logo.svg" class="navbar-logo" alt="">
		<h3 >Howdy, <strong>{{userInfo.firstname}}</strong>!</h3>
		
	</div>

	<nav class="navigation">
			<h4>Here are your:	</h4>

		<ul>
			<li routerLinkActive="active"><a routerLinkActive="active" routerLink="/accommodation" 				[routerLinkActiveOptions]="{exact:true}">
				Accommodation Units</a>
			</li>
			<li routerLinkActive="active">
				<a  routerLinkActive="active" routerLink="/reservation">Reservations</a>
			</li>
			
		</ul>

		<h4 class="mt-4">You can also add:	</h4>
		<ul>
			<li routerLinkActive="active">
				<a  routerLinkActive="active" routerLink="/accommodation/new">New Accommodation Unit</a>
			</li>

		</ul>

	</nav>


	<div class="under-block">
		<button class="btn btn-primary" (click)="onLogout()">Log out</button>
	</div>



</div>