<div class="container">

    <div class="form-modal" *ngIf="genSelfSign">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="close" (click)="onCloseForm()">
                  <span aria-hidden="true">&times;</span>
              </button>
            <app-certificate-form (certificateSubmit)="certificateSubmitted($event)"></app-certificate-form>
          </div>
        </div>
      </div>

  <div class="row">
    <h2 style="margin-top: 15px; margin-bottom: 15px;">List of all applications:</h2>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Application</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sf of softveri">
          <th scope="row">{{sf.id}}</th>
          <td>{{sf.name}}</td>
          <td *ngIf="!sf.certified"><button class="btn btn-info">Add certificate</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2 style="margin-top: 15px; margin-bottom: 15px;">List of all the certificates/certified software:</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Software</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Revoked</th>
          <th scope="col">Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>