<nav class="navbar navbar-expand-lg navbar-dark  bg-dark ftco-navbar-light" >
  <div class="container">
    <a class="navbar-brand" href="index.html"><span><i class="fa fa-globe"></i> MegaTravel</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="destination.html" class="nav-link">Destination</a></li>
        <li class="nav-item"><a href="hotel-resto.html" class="nav-link">Hotels &amp; Restaurant</a></li>
      </ul>

      <div class="controls-container">
        <div *ngIf="!isLoggedIn">
          <button class="btn btn-outline-warning" routerLink="/login">Log In</button>
          <button class="btn sign" routerLink="/signup">Sign Up</button>
        </div>
        <div *ngIf="isLoggedIn">
            <button class="btn btn-primary mr-3" routerLink="/profile">Profile</button>
            <button class="btn btn-danger" (click)="LogOut()">Logout</button>
        </div>
          
      </div>
    </div>
  </div>
</nav>