nav {
    height: 80px;
}

nav ul {
    width: 70%;
}
.sign {
    background-color: rgba(66, 94, 250, 0.9);
    color: white;
    margin-left: 10px;
}

.controls-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}