<div id="main">
  <div class="sidebyside-container">
   
    <!-- USER INFO -->
    <div class="sidebyside-left">

      <div id=sidepart>
        
        <div id=image>
          <img src="../../assets/images/user.png" class="user-img">
        </div>

        <div id=user *ngIf="user != null">
          <div class="row">
            <div class="col-sm info">Username</div>
            <div class="col-sm label"><label>{{user.username}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm info" >Name</div>
            <div class="col-sm label"><label>{{user.firstname}}</label></div>
            </div>
            <div class="row">
              <div class="col-sm info">Lastname</div>
              <div class="col-sm label"><label>{{user.lastname}}</label></div>
              </div>
              <div class="row">
                <div class="col-sm info">Email</div>
                <div class="col-sm label"><label>{{user.email}}</label></div>
                </div>
              <div class="wrapper">
              <div class="row" id=agentBtn>
                <button type="button" class="btn btn-warning">Become an agent</button>
              </div>
            </div>
        </div>


      </div>
    </div>

    <!-- REZERVACIJE -->
    <div  class="sidebyside-center">
    <div id="reservationList" *ngIf="isMessages"> <app-messages [reservation]="reservationForMessages" (hideEvent)="hideMessages($event)"></app-messages> </div>
    
    <div id="reservationList" *ngIf="!isMessages">
      <h1>Reservations</h1>
    
      <div class="resList">

          <div class="row res-card" *ngFor="let reservation of reservationList">
              <div class="tile">
                <div class="card-inside">
                    <div class="left-part-card">
                        <img class="image-card" alt="Hotel image" src="{{ reservation.accommodation.imageUrl }}">
                    </div>
                    <div class="right-part-card" style="position:relative">
                      <div class="upper-right">
                        <h4 class="hotel-name"> {{ reservation.accommodation.name }}
                          <!--<span *ngIf="acc.category === 5"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                          <span *ngIf="acc.category === 4"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                          <span *ngIf="acc.category === 3"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                          <span *ngIf="acc.category === 2"><i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                          <span *ngIf="acc.category === 1"><i class="fa fa-star"></i></span>
                          <span *ngIf="acc.category === 0">Uncategorized</span> -->
                        </h4> 
                        <h6 class="hotel-address"><i class="fa fa-map-marker"></i> {{ reservation.accommodation.location.coordinates }}, {{ reservation.accommodation.location.city.name }}, {{ reservation.accommodation.location.city.country.name }} </h6>
                        <div class="rating">
                          <span class="rating-round">{{ reservation.accommodation.rating }}</span> <span class="no-revs">Based on X reviews</span>
                        </div>
      
                        <div class="price">
                          <h3> ${{ reservation.price}} </h3>
                        </div>
                      </div>
                      <div class="lower-right">
                        <div class="distance">
                          <div class="startDate">Start date: {{ reservation.startDate | date }}</div>
                          <div class="endDate">End date: {{ reservation.endDate | date }}</div>
                        </div>
                        <div class="details-btn-card">
                          <button type="button" class="btn btn-primary sendMessage" (click)="showMessages(reservation)"> Send message </button>
                        </div>
                      </div>
                      <div style="position:absolute; top:0.45px; right: 0.31px" *ngIf="canCanel(reservation)"><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cancel reservation" (click)="cancelReservation(reservation.accommodation.name, reservation.id)">
                                                                      <span><i class="fa fa-ban"></i></span></button></div> 
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>

    

    </div>


  </div>
</div>
